<p>&nbsp;</p>
<center>
<table id="backgroundTable" style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="top">
<table id="templatePreheader" style="width: 600px;" border="0" cellspacing="0" cellpadding="10">
<tbody>
<tr>
<td class="preheaderContent" valign="top">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="10">
<tbody>
<tr>
<td valign="top">
<div>Use this area to offer a short teaser of your email's content. Text here will show in the preview area of some email clients.</div>
</td>
<td valign="top" width="190">
<div>Is this email not displaying correctly?<br />%LINK%</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table id="templateContainer" style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="top"><br />
<table id="templateHeader" style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="headerContent" style="max-width: 540px;text-align:center;"><img src="http://eolia.o2switch.net/newsletter/download/logo400.gif" alt="shop logo" />
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table id="templateBody" style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="leftColumnContent" valign="top" width="180">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="20">
<tbody>
<tr>
<td valign="top">
<p><img src="http://eolia.o2switch.net/newsletter/download/image160.gif" alt="" /></p>
<div>
<h4 class="h4">Heading 4</h4>
<strong>Repeatable content blocks:</strong>&nbsp;Repeatable sections are noted with plus and minus signs so that you can add and subtract content blocks. You can also get a little fancy: repeat blocks and remove all text to make image "gallery" sections, or do the opposite and remove images for text-only blocks!</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
<td class="centerColumnContent" valign="top" width="180">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="20">
<tbody>
<tr>
<td valign="top">
<p><img style="max-width: 160px;" src="http://eolia.o2switch.net/newsletter/download/image160.gif" alt="" /></p>
<div>
<h4 class="h4">Heading 4</h4>
<strong>Repeatable content blocks:</strong> Repeatable sections are noted with plus and minus signs so that you can add and subtract content blocks. You can also get a little fancy: repeat blocks and remove all text to make image "gallery" sections, or do the opposite and remove images for text-only blocks!</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
<td class="rightColumnContent" valign="top" width="180">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="20">
<tbody>
<tr>
<td valign="top">
<p><img style="max-width: 160px;" src="http://eolia.o2switch.net/newsletter/download/image160.gif" alt="" /></p>
<div>
<h4 class="h4">Heading 4</h4>
<strong>Repeatable content blocks:</strong> Repeatable sections are noted with plus and minus signs so that you can add and subtract content blocks. You can also get a little fancy: repeat blocks and remove all text to make image "gallery" sections, or do the opposite and remove images for text-only blocks!</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table id="templateFooter" style="width: 600px;" border="0" cellspacing="0" cellpadding="10">
<tbody>
<tr>
<td class="footerContent" valign="top">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="10">
<tbody>
<tr>
<td id="social" colspan="2" valign="middle">
<div>&nbsp;<a href="#">follow on Twitter</a> | <a href="#">friend on Facebook</a> | <a href="#">forward to a friend</a>&nbsp;</div>
</td>
</tr>
<tr>
<td valign="top" width="350">
<div><em>Copyright &copy; Your_Shop_Name, All rights reserved.</em> <br /><br /> <strong>Our mailing address is:</strong> <br /> %MAIL%</div>
</td>
<td id="monkeyRewards" valign="top" width="190">
<div class="forget" style="color:red; font-weight:bold; text-align:center;">Don't forget to associate the good css file with this newsletter !</div>
</td>
</tr>
<tr>
<td id="utility" colspan="2" valign="middle">
<div>%UNSUB% &nbsp;&nbsp;|&nbsp;&nbsp;%SUB%</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>