<table id="background-table" style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" bgcolor="#DBE0E2">
<table class="w640" style="margin: 0px 10px; width: 640px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w640" width="640" height="20">&nbsp;</td>
</tr>
<tr style="color:#A2A5C7">
<td class="w640" width="640">
<table id="top-bar" class="w640" style="width: 640px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#425470">
<tbody>
<tr>
<td class="w15" width="15">&nbsp;</td>
<td class="w325" align="left" valign="middle" width="350">
<table class="w325" style="width: 350px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w325" width="350" height="8">&nbsp;</td>
</tr>
</tbody>
</table>
<div class="header-content"><span style="font-family: arial, helvetica, sans-serif;">%LINK%<span class="hide">&nbsp; &nbsp;|&nbsp; %UNSUB%</span></span></div>
<table class="w325" style="width: 350px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w325" width="350" height="8">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td class="w30" width="30">&nbsp;</td>
<td class="w255" align="right" valign="middle" width="255">
<table class="w255" style="width: 255px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w255" width="255" height="8">&nbsp;</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="middle"><span style="font-family: arial, helvetica, sans-serif;"><img src="https://img.createsend1.com/img/templatebuilder/like-glyph.png" alt="Facebook icon" width="8" height="14" border="0" /></span></td>
<td width="3">&nbsp;</td>
<td valign="middle">
<div class="header-content"><span style="font-family: arial, helvetica, sans-serif;">I Like&nbsp;</span></div>
</td>
<td class="w10" width="10">&nbsp;</td>
<td valign="middle"><span style="font-family: arial, helvetica, sans-serif;"><img src="https://img.createsend1.com/img/templatebuilder/tweet-glyph.png" alt="Twitter icon" width="17" height="13" border="0" /></span></td>
<td width="3">&nbsp;</td>
<td valign="middle">
<div class="header-content"><span style="font-family: arial, helvetica, sans-serif;">Tweet</span></div>
</td>
<td class="w10" width="10">&nbsp;</td>
<td valign="middle"><span style="font-family: arial, helvetica, sans-serif;"><img src="https://img.createsend1.com/img/templatebuilder/forward-glyph.png" alt="Forward icon" width="19" height="14" border="0" /></span></td>
<td width="3">&nbsp;</td>
<td valign="middle">
<div class="header-content"><span style="font-family: arial, helvetica, sans-serif;">Transf&eacute;rer</span></div>
</td>
</tr>
</tbody>
</table>
<table class="w255" style="width: 255px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w255" width="255" height="8">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td class="w15" width="15">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="header" class="w640" align="center" bgcolor="#425470" width="640">
<table class="w640" style="width: 640px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w30" width="30">&nbsp;</td>
<td class="w580" width="580" height="30">&nbsp;</td>
<td class="w30" width="30">&nbsp;</td>
</tr>
<tr>
<td class="w30" width="30">&nbsp;</td>
<td class="w580" width="580">
<div id="headline" align="center">
<p style="font-family: arial, helvetica, sans-serif;color: #D7D8EB;"><span><strong>EOLIA NEWSLETTER</strong></span><span style="font-size: 12px;vertical-align: text-top;">&reg;</span></p><br/>
</div>
</td>
<td class="w30" width="30">&nbsp;</td>
</tr>
<tr>
<td class="w30" width="30"> </td>
<td class="w580" width="580"> </td>
<td class="w30" width="30"> </td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="w640" bgcolor="#ffffff" width="640" height="30">&nbsp;</td>
</tr>
<tr id="gallery-content-row">
<td class="w640" bgcolor="#ffffff" width="640">
<table class="w640" style="width: 640px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w30" width="30">&nbsp;</td>
<td class="w580" width="580">
<table class="w580" style="width: 580px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w580" width="580">
<p class="article-title" align="left"><span style="font-family: arial, helvetica, sans-serif;">Hello %CIVILITY% %FIRSTNAME% %LASTNAME% !</span></p>
<div class="article-content" align="left"><span style="font-family: arial, helvetica, sans-serif;">Come quickly discover our new products:</span></div>
</td>
</tr>
<tr>
<td class="w580" width="580" height="10">&nbsp;</td>
</tr>
</tbody>
</table>
<table class="w580" style="width: 580px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w580" valign="top" width="580">
<table class="w580" style="width: 580px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w580" width="580" height="10">&nbsp;</td>
</tr>
<tr>
<td class="w580" width="580">
<div class="article-content" align="center"> </div>
</td>
</tr>
<tr>
<td class="w580" width="580" height="10">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td class="w30" width="30">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="w640" bgcolor="#ffffff" width="640" height="15">&nbsp;</td>
</tr>
<tr>
<td class="w640" width="640">
<table id="footer" class="w640" style="width: 640px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#425470">
<tbody>
<tr>
<td class="w30" width="30">&nbsp;</td>
<td class="w580 h0" width="360" height="30">&nbsp;</td>
<td class="w0" width="60">&nbsp;</td>
<td class="w0" width="160">&nbsp;</td>
<td class="w30" width="30">&nbsp;</td>
</tr>
<tr>
<td class="w30" width="30">&nbsp;</td>
<td class="w580" valign="top" width="360">
<p class="footer-content-left" align="left"><span style="font-family: arial, helvetica, sans-serif;">%SUB% - %UNSUB%</span></p>
</td>
<td class="hide w0" width="60">&nbsp;</td>
<td class="hide w0" valign="top" width="160">&nbsp;</td>
<td class="w30" width="30">&nbsp;</td>
</tr>
<tr>
<td class="w30" width="30">&nbsp;</td>
<td class="w580 h0" width="360" height="15">&nbsp;</td>
<td class="w0" width="60">&nbsp;</td>
<td class="w0" width="160">&nbsp;</td>
<td class="w30" width="30">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="w640" width="640" height="60">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>