<!-- Block user information module NAV  -->



<div class="header_user_info col-xs-12">

	{if $is_logged}
	
	<div class="col-sm-6">
		<a class="buttonm" href="{$link->getPageLink('index', true, NULL, "mylogout")|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Log me out' mod='blockuserinfo'}">

			{l s='Sign out' mod='blockuserinfo'}

		</a>
	</div>
		



	{else}

	
	<div class="col-sm-6 clearfix">	
		<a class="buttonm" href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Log in to your customer account' mod='blockuserinfo'}">

			{l s='Sign in' mod='blockuserinfo'}

		</a>

	</div>
	<div class="col-sm-6 clearfix">		

		<a class="buttonm" href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Log in to your customer account' mod='blockuserinfo'}">

			regístrate

		</a>
	</div>


	{/if}


{if $is_logged}

	<div class="col-sm-6">

		<a href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}" title="{l s='View my customer account' mod='blockuserinfo'}" class="buttonm" rel="nofollow"><span>{$cookie->customer_firstname} {$cookie->customer_lastname}</span></a>

	</div>

{/if}

</div>

<!-- /Block usmodule NAV -->

