.banwire-module-wrapper { clear: both; margin: 0px auto; min-width: 930px; max-width: 1024px; overflow: hidden; }
.banwire-module-wrapper legend{background: #fff; border: #536271 solid 1px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;padding: 6px;font-size: 16px;}
.banwire-module-wrapper .button{background: -moz-linear-gradient(center top , #22a349, #0e5f27) repeat scroll 0 0 transparent; border-color: #0e5f27 #043914 #043914; color: #fff; text-shadow: none;}
.banwire-module-header { clear: both; margin: 0px 0px 20px 0px; padding: 15px 40px 0px 260px; position: relative; overflow: hidden; }
.banwire-module-header img.banwire-logo { margin: 0px; position: absolute; top: 25px; left: 40px; }
.banwire-module-header span.banwire-module-intro {
	border-left: #536271 solid 1px; color: #22a349; display: block; float: left; font-size: 18px; line-height: 24px; margin: 0px 0px 0px 0px; padding: 11px 0px 0px 20px; width: 70%;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.banwire-module-header span.banwire-module-singup-text { color: #535353; display: inline-block; font-size: 16px; float: left;  height: 35px; line-height: 35px;  margin-top: 10px;  padding: 0px; }
a.banwire-module-create-btn {
	color: #FFF; display: inline-block; float: right; font-size: 16px; font-weight: bold; height: 35px; line-height: 33px; margin: 10px 0px 0px 0px; padding: 0px 10px 0px 10px; text-shadow: none; text-decoration: none; background:-moz-linear-gradient(center top , #22a349, #0e5f27) repeat scroll 0 0 transparent; border-color: #0e5f27 #043914 #043914;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
a.banwire-module-create-btn:hover {
	text-decoration: underline;
}
a.banwire-module-create-btn span { display: block; height: 35px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }

.banwire-module-wrap { background-color: #FFF; border: #536271 solid 1px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; clear: both; margin: 0px 0px 15px 0px; overflow: hidden; padding: 15px; }
.banwire-module-col1-mx { margin: 0px; content: ""; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 50%; }
.banwire-module-col1-mx.L { float: left; padding-right: 15px; }
.banwire-module-col1-mx.R { float: right; padding-left: 15px; }
img.banwire-cc { margin: 0px 30px 0px 0px; vertical-align: middle; }

.banwire-module-wrap h3 { color: #22a349; font-size: 18px; font-weight: normal; line-height: 22px; margin: 0px 0px 15px 0px; padding: 0px; text-shadow: 0px -1px 0px #DAF2FF; }
.banwire-module-wrap p, .banwire-module-wrap ul li, .banwire-module-wrap p a{ color: #535353; font-size: 14px; line-height: 22px; margin: 0px; padding: 0px; text-shadow: 0px 1px 0px #FFFFFF; }
.banwire-module-wrap p a {font-size: 11px;}

a.banwire-module-btn { background: none; color: #22a349; display: inline-block; font-weight: bold; margin: 7px 0px; padding: 0px; text-decoration: none; text-shadow: none; }
a.banwire-module-btn:hover { text-decoration: underline; }

.banwire-module-wrap ul { list-style: none; margin: 0px; padding: 0px; }
.banwire-module-wrap ul li { background: url(../img/checkmark-blue.png) left 5px no-repeat; margin: 0px 0 10px; padding: 0px 0px 0px 15px; }

.banwire-module-col1 { float: right; margin: 0px; overflow: hidden;}
.banwire-module-col2 { overflow: hidden;}
.banwire-module-col1inner { float: left; margin: 0px; overflow: hidden; }
.banwire-module-col2inner { clear: both; margin: 0px; }
.banwire-module-wrap .banwire-module-col2inner h3 { border-top: none; padding-top: 0px; }

#banwire-usa-basic-settings-table tr td, #banwire-usa-advanced-settings-table tr td { padding: 3px; }
#banwire-module_body { margin: 0 auto; width: 980px; }

#banwire-module_logo { width: 325px; }
#banwire-module_button_header { margin-top: 40px; }
#banwire-module_manager label { float: left; }
.left { float: left; }
.right { float: right; }
.one_line { text-align: center; margin-top: 10px; }

.banwire-usa-onecol, .banwire-usa-threecol, .banwire-usa-product, .banwire-usa-product_eco { overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.banwire-usa-threecol { float: left; margin-bottom: 10px; padding-right: 7px; width: 75%; }
.banwire-usa-onecol { float: right; margin-bottom: 10px; padding-left: 7px; width: 25%; }

.banwire-usa-product, .banwire-usa-product_eco { background: #FFF; border: solid 1px #BBBBBB; padding: 10px 15px; overflow: visible; position: relative; text-align: center; }
.banwire-usa-product { float: left; width: 33.33%; }
.banwire-usa-product.first {
	border-width: 1px 0px 1px 1px;
	-webkit-border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-bottomleft: 4px; border-top-left-radius: 4px; border-bottom-left-radius: 4px;
}
.content-box{
	min-height: 380px; padding: 5px;text-align: left;
}
.box-content-payment{ min-height: 380px; padding: 5px;text-align: left;}
.content-box label{
	line-height: 25px;
}
.box-content-payment label{line-height: 25px;}
.banwire-usa-product.last {
	border-width: 1px 1px 1px 0px;
	-webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px;
}
.banwire-usa-product_eco { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; float: none; width: 100%; }
.banwire-usa-product-active { background: #ddf5e4; }
.fixCol p { line-height: 1.4em; margin-bottom: 5px; text-align: left; min-height: 200px;}
.fixCol label { clear: none!important; float: none!important; width: auto!important; }
.fixCol input { margin: -3px 5px 0px 0px; }
.fixCol center { display: block; margin-left: -15px; position: absolute; bottom: 10px; width: 100%; }
.banwire-usa-or { background-color: #FFF; display: block; font-size: 11px; font-weight: bold; height: 18px; line-height: 18px; position: absolute; right: -13px; top: 45%; text-align: center; width: 26px; z-index: 10; }

.enable-express-checkout-mx p { margin-bottom: 15px; }
.enable-express-checkout-mx label, fieldset label.resetLabel { float: none; font-weight: normal; }
.margin-form label { font-size: 1.1em; }
.margin-form input[type="radio"], .margin-form input[type="checkbox"] { margin: -3px 4px 0px 0px;}
.margin-form a.banwire-module-btn { margin: 0px; }
a.banwire-module-btn.learn_more { background: url(../../../img/admin/information.png) left center no-repeat; margin: 0px 0px 15px 0px; padding-left: 20px; }

form .margin-form .input-text { width: 250px; }

form.half-form { content: ""; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 50%; }
form.half-form.L { float: left; padding-right: 10px; }
form.half-form.R { float: right; padding-left: 10px; }

form.half-form label { width: 210px; }
form.half-form .margin-form { padding-left: 230px; }
form.half-form .margin-form .input-text { width: 90%; }

fieldset{border: #536271 solid 1px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
fieldset h4 { margin-top: 0px;color: #536271;font-size: 14px; }
fieldset h4.sep-title { border-top: #CCCED7 dotted 1px; padding-top: 10px; margin-bottom: 10px; }
fieldset .PT2 { padding-top: 2px; }
fieldset .PT4 { padding-top: 4px; }
fieldset .MB15 { margin-bottom: 15px!important; }
fieldset .resetMargin { margin: 0px!important; }
fieldset .centerText { text-align: center!important; }

.banwire_help_box { height: 300px; padding-bottom: 40px; width: 400px; }
.banwire_help_box .button { margin: 20px auto 0px auto; }
.clear { clear: both;}
.L { float: left!important; }
#banwire-usa-basic-settings-table .margin-form{
	height: 40px;
}

p.payment_module a.bw{
	width:48.7%;
	background: #fbfbfb;
}
p.payment_module a.bw:hover{
	background: #cdcdcd;
}
p.payment_module a.bw img{
	margin-left: -85px;
	margin-right: 20px;
}
#payment_banwire_tdc fieldset{
	border: none;
}
#payment_banwire_tdc fieldset legend{
	border: none;
}
#payment_banwire_tdc h3{
	color:#333333;
}
#payment_banwire_tdc .banwire_field{
	width:100%;
}
#payment_banwire_tdc .banwire_field label{
	width:20%;
	color:#333;
	font-size: 13px;
}
#payment_banwire_tdc .banwire_field input{
	width:30%;
	border: 1px solid #999999;
	height: 25px;
	margin: 3px 0;
}
#payment_banwire_tdc .banwire_field select{
	height: 25px;
	margin: 3px 0;
}

#payment_banwire_rec fieldset{
	border: none;
}
#payment_banwire_rec fieldset legend{
	border: none;
}
#payment_banwire_rec h3{
	color:#333333;
}
#payment_banwire_rec .banwire_field{
	width:100%;
}
#payment_banwire_rec .banwire_field label{
	width:20%;
	color:#333;
	font-size: 13px;
}
#payment_banwire_rec .banwire_field input{
	width:30%;
	border: 1px solid #999999;
	height: 25px;
	margin: 3px 0;
}
#payment_banwire_rec .banwire_field select{
	height: 25px;
	margin: 3px 0;
}

#cart_navigation{
	margin-top:20px;
}
#cart_navigation #button_payment{
	cursor: pointer;
    border-color: #73ca77 #74c776 #74c175;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: white;
    position: relative;
    text-shadow: 1px 1px #208931;
    padding: 15px 20px;
    background: -moz-linear-gradient(center top , #22a349, #0e5f27) repeat;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: right;
    font-size: 14px;
}

#cart_navigation .button_large{
	background: none;
	color:#333333;
	font-size: 17px;
	line-height: 40px;
	border: none;
}
#left_column{
	display: none!important;
}
#center_column{
	width: 100%!important;
}
#content_confiramtion #msg_confirmation{
  margin-bottom: 10px;
  text-align: left;
  color:#000;
}

#content_confiramtion #msg_confirmation span {
	color:#854499;
	font-size: 20px;
}

#content_confiramtion .data_confirmation{
  padding: 10px;
  text-align: left;
}
#content_confiramtion .data_confirmation{
	border: 1px solid #eee;
}
#content_confiramtion .data_confirmation .row_data{
	color:#999;
}
#content_confiramtion .data_confirmation .row_data label{
	width: 20%;
}
#center_column{
	text-align: left;
	}