		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
									<style type="text/css">
									
									</style>
									<tbody><p><img src="http://canalutv.mx/img/newsletter/20160510.jpg" alt="" usemap="#mapa_zonas" /> <map name="mapa_zonas"> 
<area coords="48,658,295,1023" shape="rect" href="http://canalutv.mx/tienda/1-roku-stick.html" target="_blank" />
 
<area coords="298,658,544,1023" shape="rect" href="http://canalutv.mx/tienda/2-roku-2.html" target="_blank" />
 
<area coords="48,1035,295,1364" shape="rect" href="http://canalutv.mx/tienda/3-roku-3.html" target="_blank" />
 
<area coords="298,1035,544,1364" shape="rect" href="http://canalutv.mx/tienda/11-roku-4-activacion-1-mes-suscripcion.html" target="_blank" />
 
<area coords="109,1557,496,1592" shape="rect" href="http://canalutv.mx" target="_blank" />
 </map> <br /><br /> <a href="http://canalutv.mx/content/43-quieres-sorprender-a-mama-regalale-un-roku-con-suscripcion-a-undertv-y-haz-que-sus-tardes-sean-mas-entretenidas" target="_blank">Si no puedes ver este mensaje dar clic aqu&iacute;</a></p></tbody>