		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
									<style type="text/css">
									
									</style>
									<tbody><p>Under TV<img src="http://canalutv.mx/img/newsletter/20150804.jpg" alt="" usemap="#mapa_zonas" /> <map name="mapa_zonas"> 

<area coords="522,30,19" shape="circle" href="https://www.facebook.com/pages/Me-quedo-en-casa-by-UNDER-TV/813070072147311" target="_blank" />

 

<area coords="567,30,19" shape="circle" href="https://twitter.com/undertv3" target="_blank" />

 

<area coords="53,580,280,607" shape="rect" href="http://canalutv.mx/tienda/3-roku-3.html" target="_blank" />

 

<area coords="180,650,425,780" shape="rect" href="http://canalutv.mx/" target="_blank" />

 </map> <br /><br /> <a href="http://canalutv.mx/content/16-promocion-verano" target="_blank">Si no puedes ver este mensaje dar clic aqu&iacute;</a></p></tbody>