body {font-family: Arial, Helvetica, sans-serif;}
label {color:#585a69;text-shadow:0 1px 0#fff;}
fieldset{background-color:#EBEDF4; border:1px solid #CCCED7; color:#585A69; font-size:1.1em;margin:0 0 10px 0;padding:1em}
.Bloc {background-color:#EBEDF4; border:1px solid #CCCED7;font-size:1.1em;margin:0;padding:1em}
legend{background:#EBEDF4;border:1px solid #CCCED7;font-weight:700;margin:0;padding:.2em .5em;text-align:left}


.button{
	background: #e3e3e3 url('../img/bg-button-degrade.png') repeat-x scroll left top;
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, center top ,center bottom, from(#F9F9F9), to(#E3E3E3)) repeat scroll 0 0 transparent;
	border-color: #CCCCCC #BBBBBB #A0A0A0;
	border-left: 1px solid #BBBBBB;border-radius: 3px 3px 3px 3px;
	border-right: 1px solid #BBBBBB;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	margin: 0; 
	line-height: 30px;
	outline: medium none;padding: 3px 8px;text-align: center;vertical-align: middle;white-space: nowrap; text-shadow:0 1px 0 #fff;
}
.button[disabled=disabled]{color:#8C8C8C}
.button.bt-icon { display:inline-block; margin-bottom:7px;}
.button.bt-icon span {padding-left:5px;}
input.button[disabled=disabled]:hover{background-color:#FFF6D3}
.button:hover{border:1px solid #939393;background:#B5EC3F;}
.button:active{border:1px solid #939393;}

#ajax_confirmation {
	display: none;
}

.admin1{
font-size:14px; 
text-align:center; 
width:95%;
border: 3px solid;border-radius: 3px 3px 3px 3px;
border-color: gray;
margin-left: 15px;
}
.admin1 td{
 border:1px solid  gray;
 text-align:center;
 border-collapse: collapse;
 border-spacing: 10px;
}

.center {
	text-align: center !important;
}
a { color:purple; cursor:pointer; }

.newsfield { 
	background-color: #F8F8F8; 
	border: 1px solid #CCCCCC; 
	margin-bottom:10px; 
	padding: 10px; 
	border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	font-size: 12px;
	display: inline-block;
	width: 96%;
	height: 100%;
	}
	
.hide_field, .show {
	cursor:pointer;
}
.hide_field:hover, .hide_field:focus, .hide_field:active {
  background: #3293D6 ;
  color: #fff;
}	
.hide_field:before{
	background-image: url('../../../../img/admin/arrow-right.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 20px 20px;
    content:" ";
    padding-right: 22px;
	cursor:pointer;
}

.show:before {
    background-image: url('../../../../img/admin/icon-valid.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 18px 18px;
    content:" ";
    padding-right: 22px;
	cursor:pointer;
}

.onglet {
    display:inline-block;
    margin-left:3px;
    margin-right:3px;
    padding:3px;
    border:1px solid #CCCED7;
    cursor:pointer;
}
.onglet_0 {
    background:#bbbbbb;
    border-bottom:1px solid #CCCED7;
}
.onglet_1 {
    background:#dddddd;
    border-bottom:0px solid #CCCED7;
    padding-bottom:4px;
}
.contenu_onglet {
    border:1px solid #CCCED7;
    margin-top:-1px;
    padding:5px;
    display:none;
}
.preview_left, .mce {
width: 49%;
float: left;
border: none;
margin: 5px;
overflow: auto;
height: 100%;
}
.preview_right, .css {
width: 49%;
float: right;
border: none;
}
.mce {width: 64%;}
.css {width: 34%;}

#css {
	width: 80%;
	height: 348px;
}