/*
.header_user_info {
  //float: right;
  float: right;
  margin-top: 63px;
  width: 51%;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151; 
  }
  .header_user_info a {
    color: white;
    font-weight: bold;
    display: block;
	padding: 8px 9px 11px 8px;
    cursor: pointer;
    line-height: 18px; }
    @media (max-width: 479px) {
      .header_user_info a {
        font-size: 11px;
		} }
    .header_user_info a:hover, .header_user_info a.active {
      background: #2b2b2b; }

.header_user_info {
  float: right;
  width: 100%;
  border: 1px solid #000;
  //border-right: 1px solid #515151; 
  }
  .header_user_info a {
    color: #000;
    //font-weight: bold;
    display: block;
    padding: 8px 9px 11px 8px;
    cursor: pointer;
	font-size: 18px;
	letter-spacing: 1px;
    line-height: 18px; }
    @media (max-width: 479px) {
      .header_user_info a {
        font-size: 11px; } }
    .header_user_info a:hover, .header_user_info a.active {
      background: #fff; }
*/